<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人主页</title>
    <link rel="icon" href="../favicon.ico">
</head>

<body>
    <div class='header'>
        
    </div>
    <div class='section'>
        <input type="text" id="name"><br />
        <input type="text" id="age"><br />
        <input type="text" id="email"><br />
        <input type="button" id="btn" value="添加">
        <input type="button" id="btn2" value="Button" >
        <input type="button" id="btn3" value="Button3" >
        <table id="grids">

        </table>
        <p id="p"></p>
    </div>
    <script src="../src/jquery.js"></script>
    <!-- <script src="../src/jquery-3.1.1.js"></script> -->
    <script>
        $("#btn3").click(function(){
            var grid = "";
            $.ajax({
                // url: "http://www.l999.com/db/text/select",
                url: "http://127.0.0.1:8000/db/text/select",
                type: "GET",
                jsonp: "cik",// 指定jsonp发送参数的名字
                dataType: "jsonp",
                success: function (data) {
                    console.log(JSON.stringify(data));
                },
                error: function (err) {
                    console.log("错误：" + err);
                }
            });
            // $.ajax({
            //     url: "./index.php?name=123",
            //     type: "GET",
            //     // jsonp: "cik",// 指定jsonp发送参数的名字
            //     // dataType: "json",
            //     success: function (data) {
            //         // console.log(JSON.stringify(data));
            //         console.log(data);
            //     },
            //     error: function (err) {
            //         console.log("错误：" + err);
            //     }
            // });
        });
        // $("#btn2").click(function(){
        //     $.ajax({
        //         url: "http://www.l999.com/db/text/select",
        //         type: "POST",
        //         // jsonp: "cik",//传递给请求处理程序或页面的，用以获得jsonp回调函数名的参数名(默认为:callback)
        //         dataType: "jsonp",
        //         data:{"col":"id","of":"1","val":"7","arr":["name","age","email"]},
        //         success: function (data) {
        //             console.log(data);
        //         },
        //         error: function (err) {
        //             console.log("错误：" + err);
        //         }
        //     });
        // });
        // $("#btn").click(function () {  
        //     var name = $("#name").val();
        //     var age = $("#age").val();
        //     var email = $("#email").val();
        //     $.ajax({
        //         url: "http://www.ssy.com/db/text/add?name="+ name +"&age="+age+"&email="+email,
        //         type: "GET",
        //         jsonp: "cik",//传递给请求处理程序或页面的，用以获得jsonp回调函数名的参数名(默认为:callback)
        //         dataType: "jsonp",
        //         success: function (data) {
        //             if (data == 1) {
        //                 alert('成功');
        //             }else{
        //                 alert('失败');
        //             }
        //         },
        //         error: function (err) {
        //             console.log("错误：" +err);
        //         }
        //     });
        // });
    </script>
</body>

</html>