<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人主页</title>
    <link rel="icon" href="../favicon.ico">
</head>

<body>
    <div class='header'>
        
    </div>
    <div class='section'>

        <input type="button" id="btn" value="Button">
        <p id="p"></p>
    </div>
    <!-- <script src="../src/jquery.js"></script> -->
    <script src="../src/jquery-3.1.1.js"></script>
    <script>
        var start = 0;
        $("#btn").click(function () {  
            // $.ajax({
            //     url:"https://api.douban.com/v2/book/search?q=javascript&count=1",
            //     type:"GET",
            //     dataType:"jsonp",
            //     success:function(data){
            //         console.log("Ok:");
            //         $("#p").html(JSON.stringify(data));
            //     },
            //     error:function(err){
            //         console.log("err:"+err);
            //     }
            // });
            $.ajax({
                url: "http://www.ssy.com/db/test/select?start="+ start +"&size=2",
                jsonp: 'callback',
                type: "GET",
                jsonp: "callback",//传递给请求处理程序或页面的，用以获得jsonp回调函数名的参数名(默认为:callback)
                jsonpCallback: "success_jsonpCallback",//自定义的jsonp回调函数名称，默认为jQuery自动生成的随机函数名
                dataType: "jsonp",
                success: function (data) {
                    var datas = JSON.stringify(data);
                    console.log("成功：");
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].name);
                    }
                    $("#p").append(JSON.stringify(data)+"<br />");
                    start++;
                },
                error: function (err) {
                    console.log("错误：" +err);
                }
            });
            // $.ajax({
            //     url: "127.0.0.1:8080",
            //     type: "POST",
            //     dataType: "jsonp",
            //     data: { "id": "123" },
            //     success: function (data) {
            //         console.log('data');
            //     },
            //     error: function (err) {
            //         console.log(err);
            //     }
            // });
        });
    </script>
</body>

</html>