<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <form action='' method='post' enctype="multipart/form-data"> -->
        <input type="file" name="photo" id="ups"><br />
        <input type="button" id="btn" value="Button">
    <!-- </form> -->
    <script src="../src/jquery-3.1.1.js"></script>
    <script>
        $("#btn").click(function(){
            // var fd = new FormData();
            // fd.append("file", $("#ups")[0].files[0]);
            // fd.append("do", "submit");

            // var fd = new FormData();
            // fd.append("name", "脚本之家");
            // fd.append("blog", "http://jb51.net");
            // fd.append("file", document.getElementById("ups"));

            // var formData = new FormData($("#ups")[0]);
            
            // $.ajax({
            //     url:"./index.php",
            //     type:"POST",
            //     // dataType:"jsonp",
            //     async:false,
            //     data: {"name": formData},
            //     // jsonp:"cik",
            //     processData: false,
            //     contentType: false,
            //     success:function(data){
            //         console.log(data);
            //     },
            //     error:function(err){
            //         console.log('err:'+err);
            //     }
            // });

            var dataHead = new FormData(document.getElementById("ups"));  //创建一个formdata对象

            $.ajax({
                url: "http://127.0.0.1:8000/db/text/upload",
                data: dataHead,
                type: "POST",
                dataType: 'jsonp',
                jsonp:"cik",
                async: false,
                processData: false,   //一定要写
                contentType: false,   //一定要写
                enctype: 'multipart/form-data',
                success: function (data) {
                },
                error: function (data, status, e) {
                }
            });
        });
    </script>
</body>
</html>